.wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: calc(100% - 2 * 1.5rem);
    max-width: 62.5rem;
    margin-top: 1rem;
}
.controlWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}
.controlButton {
    border-radius: 0.5rem;
    cursor: pointer;
}
