.settingContentWrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}
.settingLabel {
    color: rgb(16, 24, 52);
    word-wrap: break-word;
    margin-bottom: 8px;
}
.inputHeading {
    border-color: rgb(183, 186, 194);
    padding: 8px;
}
.inputParagraph {
    border-color: rgb(183, 186, 194);
    padding: 8px;
}
