.container {
    flex: 1 1 auto;
    flex-direction: row;
    height: 100%;
    width: 100%;
    font-weight: 600;
    font-size: 16px;
    background-color: rgb(231, 232, 235);
}

/* HEADER */
.header {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background-color: rgb(255, 255, 255);
}

.leftWrapper {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
}

.titleWrapper {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
    width: 480px;
}

.backBtn {
    cursor: pointer;
}

.titleInput {
    display: block;
    color: rgb(16, 24, 52);
    border-color: rgb(0 0 0 / 0%);
    min-width: 100%;
}

.titleInput:hover {
    border-color: rgb(25 108 255);
}

.createdBy {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.4;
    text-overflow: ellipsis;
    word-wrap: break-word;
    color: rgb(16 24 52 / 50%);
    margin-left: 12px;
}

.rightHeight {
    justify-content: flex-end;
    border-radius: 3px 0 0 3px;
}

.saveBtn {
    font-weight: 600;
    font-size: 16px;
    border: hidden;
    border-radius: 3px;
    height: 100%;
}

.presentBtn {
    font-weight: 600;
    font-size: 16px;
    margin-left: 8px;
    border-radius: 3px;
    height: 100%;
}

/* Nav bar */
.navBar {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgb(231, 232, 235);
    border-bottom: 1px solid rgb(231, 232, 235);
    padding: 8px;
    background-color: rgb(255, 255, 255);
}

.newSlideBtn {
    font-weight: 600;
    font-size: 16px;
    border-radius: 3px;
    height: 100%;
}

/* CONTENT */
.contentWrapper {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

/* SLIDE LIST */
.slideList {
    display: flex;
    background-color: #ffffff;
    flex-wrap: wrap;
    overflow: auto;
    flex-flow: column nowrap;
    align-content: center;
    justify-content: flex-start;
    list-style: none;
    width: 40%;
    height: 100%;
    min-height: 100%;
    /* overflow: hidden; */
    padding-bottom: 0;
}

.slideItemWrapper {
    display: flex;
    flex-direction: row;
    padding: 8px;
}

.slideItemWrapper.active {
    /* background-color: rgb(25, 108, 255); */
    border-left: 4px solid rgb(25, 108, 255);
}

.slideIndex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4px;
    align-items: center;
    width: 32px;
}

.slideItem {
    background-color: rgb(255, 255, 255);
    font-size: 5px;
    height: 200px;
    min-height: 0px;
    width: 100%;
    /* margin: 8px; */
    border: 1px solid rgb(231, 232, 235);
    cursor: pointer;
}
@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.slideSetting {
    padding: 24px 16px 24px 32px;
    background-color: rgb(255, 255, 255);
    width: 50%;
    overflow: auto;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.4;
    animation: slideInLeft 0.5s ease-in-out;
}

.settingHeader {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 16px;
    border-bottom: 1px solid rgb(231, 232, 235);
}

.settingLabel {
    color: rgb(16, 24, 52);
    word-wrap: break-word;
    margin-bottom: 8px;
}

.selectType {
    padding: 8px;
}

.settingContent {
    display: flex;
    flex-direction: column;
}

.tabWrapper {
    justify-content: center;
}

.settingContentWrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.description {
    color: rgb(25, 108, 255);
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
}

.descriptionInput {
    display: block;
    color: rgb(16, 24, 52);
    border-color: rgb(0 0 0 / 0%);
    /* width: 50%; */
}

.description:hover {
    opacity: 0.6;
}

.inputQuestion {
    border-color: rgb(183, 186, 194);
    padding: 8px;
}

.optionItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 8px;
}

.deleteOption {
    cursor: pointer;
    margin-left: 8px;
}

.inputOption {
    border-color: rgb(183, 186, 194);
    margin-bottom: 8px;
}

.addOptionBtn {
    width: 100%;
    border-radius: 3px;
    border: 1px solid rgb(183, 186, 194);
    background-color: rgb(219, 220, 225);
}

/* SLIDE */
.slideContent {
    padding: 32px;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    width: 100%;
}

.slidePreviewFullScreen {
    height: 100%;
    background-color: white;
}
.slidePreview {
    width: 100%;
    height: 80%;
    font-size: 10px;
    justify-self: center;
    background-color: rgb(255, 255, 255);
}

/* FORM ITEM */
.formItem {
    margin: 0px;
}
