.navWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.navBtn:focus {
    background-color: transparent;
}
.navBtn.active {
    border-bottom: 3px solid #135baa;
    border-image-slice: 1;
}
.navBtn {
    border: none;
    background: transparent;
    font-weight: 600;
}
