@import '~antd/dist/antd.css';

.form-wrapper {
    width: 100%;
    margin-left: 50px;
}

.verify-email-btn {
    padding: 0;
}

.loading-spin-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
