.formWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #f5f5f5;
}

.title {
    font-size: 20px;
    font-weight: 600;
}

.card {
    box-shadow: 0 0.5rem 1.2rem rgb(189 197 209 / 20%);
    border: 1px solid #e7eaf3;
    border-radius: 1rem !important;
    width: 40rem;
    font-size: 16px;
    font-weight: 500;
    margin-top: 2rem;
}
.cardFooter {
    display: flex;
    justify-content: center;
    align-items: center;
}
.saveBtn {
    border: 1px solid transparent;
    border-radius: 5px;
}
