@import '~antd/dist/antd.css';

p {
    margin: 0;
}

.slide-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2.14em;
    height: 100%;
}

.invitation-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.7em;
}

.invitation-wrapper p {
    font-size: 1.5em;
    font-weight: bold;
}

.question-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 4em;
    margin-bottom: 2em;
    flex-grow: 1;
}

.question-wrapper h2 {
    font-size: 2.5em;
}

.chart-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50%;
    max-height: 60%;
}
