@import '~antd/dist/antd.css';

p {
    margin: 0;
}

.slideContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2.14em;
    height: 100%;
}

.invitationWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.7em;
}

.invitationWrapper p {
    font-size: 1.5em;
    font-weight: bold;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.messageIcon {
    font-size: 2.5em;
    margin-right: 0.5em;
}
