@import '~antd/dist/antd.css';

p {
    margin: 0;
}

.slideContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2.14em;
    height: 100%;
}

.invitationWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.7em;
}

.invitationWrapper p {
    font-size: 1.5em;
    font-weight: bold;
}

.questionWrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 4em;
    margin-bottom: 2em;
    flex-grow: 1;
}

.questionWrapper h2 {
    font-size: 2.5em;
}

.chartWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50%;
    max-height: 60%;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.messageIcon {
    font-size: 2.5em;
    margin-right: 0.5em;
}
